@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
  border: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #f3f4f6; /* gris claro */
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #f3f4f6; /* opcional, si quieres que main tenga el fondo */
}
